################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/VeterinaryApp.Desktop/.vs/VeterinaryApp/FileContentIndex
/VeterinaryApp.Desktop/obj/Debug
/VeterinaryApp.WebApi/.vs/ProjectEvaluation
/VeterinaryApp.WebApi/.vs/VeterinaryApp.WebApi/DesignTimeBuild
/VeterinaryApp.WebApi/.vs/VeterinaryApp.WebApi/FileContentIndex
/VeterinaryApp.WebApi/.vs/VeterinaryApp.WebApi/v17
/VeterinaryApp.WebApi/obj
